@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(193, 184, 172);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    max-width: 300px;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
